<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultrap.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<div layout:fragment="content" style="height : 700px;">
  <div class="container-md cBox" style="margin-top : 100px;" >
    <h1 style="color: white;">Board List Page</h1>
    <hr>

    <table class="table table-hover">
      <thead>
      <tr>
        <th scope="col">no.</th>
        <th scope="col">title</th>
        <th scope="col">writer</th>
        <th scope="col">regAt</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="bvo:${list}">
        <td>[[${bvo.bno }]]</td>
        <td> <a th:href="@{/board/detail(bno=${bvo.bno})}">[[${bvo.title }]]</a></td>
        <td>[[${bvo.writer }]]</td>
        <td>[[${bvo.regAt }]]</td>
      </tr>
      </tbody>
    </table>

    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        <li class="page-item"  th:if="${pgvo.hasPrev}">
          <a class="page-link" th:href="@{/board/list(pageNo=${pgvo.startPage-1})}" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <th:block  th:each="i : ${#numbers.sequence(pgvo.startPage,pgvo.endPage)}">
          <li class="page-item" th:classappend="${pgvo.pageNo eq i ? 'active' : '' }" >
            <a class="page-link" th:href="@{/board/list(pageNo=${i})}">[[${i}]]</a>
          </li>
        </th:block>
        <li class="page-item"  th:if="${pgvo.hasNext}" >
          <a class="page-link" aria-label="Next" th:href="@{/board/list(pageNo=${pgvo.endPage+1})}">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>



  </div>

</div>