<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultrap.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<div layout:fragment="content">
  <div class="container-md cBox" style="margin-top : 50px;" >
    <h1 style="color: white;">Board Register Page</h1>
    <hr>
    <form action="/board/register" method="post"  enctype="multipart/form-data">
      <div class="mb-3">
        <label for="t" class="form-label">Title</label>
        <input type="text" class="form-control" id="t" name="title" placeholder="title...">
      </div>
      <div class="mb-3">
        <label for="w" class="form-label">Writer</label>
        <input type="text" class="form-control" id="w" name="writer" readonly="readonly" th:value="${#authentication.getPrincipal().userDTO.nickName}">
      </div>
      <div id="smarteditor" class="mb-3">
        <label for="c" class="form-label">Content</label>
        <textarea class="form-control" id="c" name="content" cols="10" rows="20" placeholder="content..."></textarea>
      </div>
      <div class="flexBox" style="display: flex; justify-content:end;">
      <button type="submit" class="btn btn-secondary" id="regBtn">register</button>
      </div>
    </form>

    <script th:src="@{/js/boardRegister.js}" charset="UTF-8"></script>
    <script th:src="@{/smarteditor/js/HuskyEZCreator.js}" charset="UTF-8"></script>


  </div>



</div>