<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultrap.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<div layout:fragment="content" style="height : 600px;">
  <div class="container-md cBox" style="margin-top : 200px; width: 700px;">
    <h1 style="color: white;">User Login Page</h1>
    <hr>
    <form action="/user/login" method="post">
      <div class="mb-3">
        <label for="e" class="form-label">email</label>
        <input type="text"
               class="form-control" id="e" name="email" placeholder="email...">
      </div>
      <div class="mb-3">
        <label for="p" class="form-label">password</label>
        <input type="text"
               class="form-control" id="p" name="pwd" placeholder="password...">
      </div>
      <div class="mb-3" th:if="${error}">
        <p class="text-danger"> [[${exception}]] </p>
      </div>
      <div class="flexBox" style="display: flex; justify-content:end;">
      <button type="submit" class="btn btn-secondary">login</button>
      </div>
    </form>

  </div>

</div>